/*
#C8BFF2
#EED5FD
#FFE3ED
#FFD9EB
#FFC9DF 
#FAB4D5
*/

/* Nav Styling */
.navStyle {
  color: #c8bff2;
  margin: 0.5rem;
}

.navStyle:hover {
  color: #eed5fd;
  border-bottom: solid 0.1rem #eed5fd;
}
.navStyle1 {
  color: #c8bff2;
  margin: 0.5rem;
}

.navStyle1:hover {
  color: #eed5fd;
  border-bottom: solid 0.1rem #eed5fd;
}

.togglerBtn {
  display: none;
}

.navLogo {
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  margin: 0.5rem;
  margin-right: 3rem;
}

nav {
  background-color: #5c6453;
}
ul {
  list-style: none;
}
/* End of Nav Styling */

/* Nav Responsiveness */
@media screen and (max-width: 300px) {
  .togglerBtn {
    display: block;
  }
  .navStyle {
    visibility: hidden;
  }
  .navLogo {
    margin: 0;
  }
  .navStyle {
    margin: 0;
  }
}

/* End ofNav Responsiveness *

/* Home Hero Section */
main {
  background-color: #c8bff2;
  padding: 0.2rem;
  /* height: 200vh; */
}
#cont {
  background-image: url("https://i.postimg.cc/J0JhHN9r/c3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 height: 70vh;
  width: 100%;
}

.carousel {
  height: 70vh;
  padding: 1px;
  background-color: antiquewhite;
}

.card {
  width: 18rem;
   margin: auto;
   margin-top: 3rem;
}

.btm_Style  {
  background-color: #C8BFF2 !important;
}

.imgHeight {
  height: 10rem;
}

.card-body {
  background-color: #C8BFF2;
}

.headTxt {
  color: #5c6453;
}

.btnColor {
  color: #EED5FD;
  background-color: #5c6453;
}
.btnColor:hover {
  color: #5c6453;
  background-color: #C8BFF2;
  border: solid #5c6453;
}

#fumes {
  position: absolute;
  top: 6rem;
  left: 2rem;
  font-weight: bold;
  font-size: 6rem;
  font-style: oblique;
}
@media screen and (max-width: 300px){
  .card {
    width: 18rem;
     margin: auto;
     margin-top: 30%;
  }
  #fumes {
    position: absolute;
    top: 23rem;
    left: 0.5rem;
    font-size: 5.5rem;
}
/*End of Home Hero Section */

footer {
  background-color: #5c6453;
}

/*  */
/* Footer */
footer {
  background-color: #5c6453;
  margin: auto;
}

/* End of Footer */